<nav class="navbar">
  <a href="/" class="navbar-brand">IAM<span>db</span></a>

<% if (user && user.admin) { %>
  <!-- Admin Navigation -->
  <a href="/" class="nav-link">Home</a>
  <a href="/movie" class="nav-link">Movies</a>
  <a href="/watchlist" class="nav-link">Watchlist</a>
  <a href="/watchlist/recommended" class="nav-link">Discover</a>
  <a href="/discussionboard" class="nav-link">Discussion Board</a>
  <a href="/admin" class="nav-link right nav-profile">Admin</a>
  <a href="/profile" class="nav-link">Profile</a>
<% } else if (user) { %>
  <a href="/" class="nav-link">Home</a>
  <a href="/movie" class="nav-link">Movies</a>
  <a href="/watchlist" class="nav-link">Watchlist</a>
  <a href="/watchlist/recommended" class="nav-link">Discover</a>
  <a href="/discussionboard" class="nav-link">Discussion Board</a>
  <a href="/profile" class="nav-link right nav-profile">Profile</a>
<% } else { %>
  <!-- User Navigation -->
  <a href="/" class="nav-link">Home</a>
  <a href="/movie" class="nav-link">Movies</a>
  <a href="/login" class="nav-link right nav-profile">Login/Register</a>
<% } %>

  
</nav>
