<style>
    .head {
        margin: 0;
        padding: 0;
    }

    .navbar {
        background-color: #333;
        display: flex;
        padding: 5px 10px;
    }

    .navbar a {
        color: white;
        text-decoration: none;
        margin-right: 20px;
        padding: 8px 12px;
        transition: 0.3s;
    }

    .navbar a:hover {
        background-color: #575757;
        border-radius: 4px;
    }

    .navbar .right {
        margin-left: auto;
    }
</style>
<div class="navbar">
    <a href="/">Home</a>
    <a href="/movie">Movies</a>
    <a href="/watched/list">Watchlist</a>
    <a href="/profile" class="right">Profile(WIP?)</a>
</div>