<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>IAMdb - Movie Watchlist</title>
      
</head>
<body>
    <%- include('partials/navbar') %>
    <h1>Home</h1>

    <ul>
        <li><a href="/watched/list">Recently Watched</a></li>
        <li><a href="/movie">Movies</a></li>
    </ul>
</body>
</html>