<form action="/movie/delete/<%= movie._id %>" method="post">
  <h1><%= movie.movieTitle %></h1>
  <p><%= movie.movieDescription %></p>
  <p><%= movie.movieRating %></p>
  <button type="submit">Delete Movie</button>
</form>
