<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

    <% if (watchedMovies.length > 0){ %>
    <table border="1">
        <thead>
            <tr>
            <th>Title</th>
            <th>Release Date</th>
            <th>Rating</th>
            <th>Watched On</th>
            </tr>
        </thead>
        <tbody>
            <% for (let entry of watchedMovies) { %>
            <tr>
                <td><%= entry.movieId.movieTitle %></td>
                <td><%= entry.movieId.releaseDate %></td>
                <td><%= entry.movieId.movieRating %></td>
                <td><%= entry.watchedAt.toLocaleDateString() %></td>
            </tr>
            <% } %>
        </tbody>
    </table>
    <% } else { %>
        <p>You have not watched any movies. Check out our <a href="/movie">movie selection</a>.</p>
    <% } %>
    <br>
    <p><a href="/home">Go Back</a></p>
</body>
</html>